p {
  text-align: justify;
  hyphens: auto;
  margin: 0;
  line-height: 1.4em;
  text-indent: 1.5em;
  widows: 4;
  orphans: 2;
}

h1 {
  text-align: center;
  margin-top: 7.1rem;
  margin-bottom: 1.2rem;
  font-size: 2.62rem;
  line-height: 1.2;
}

h2 {
  text-align: center;
  font-weight: 700;
  margin-top: 3.2rem;
  margin-bottom: 1.4rem;
  font-size: 1.62rem;
}

h1,
h2,
.page-break {
  break-before: page;
}

.pov {
  text-align: center;
  margin-top: 2.6em;
  margin-bottom: 1.4rem;
  font-weight: 700;
}

h1 + .pov,
h2 + .pov {
  margin-top: 0.3rem;
}

h1 + p,
h2 + p,
h3 + p,
.pov + p,
.separator + p,
li p,
ol p {
  text-indent: 0;
}

hr {
  border: none;
  border-top: 1px solid;
  margin: 1.4rem 0;
}

.separator {
  text-align: center;
  margin: 2.6rem 0 1.7rem 0;
}

.separator span {
  font-size: 2.5rem;
  vertical-align: -0.275em;
}

.no-page-break {
  page-break-inside: avoid;
}

.comment {
  opacity: 0.5;
  font-size: 0.8em;
}

.author {
  text-align: center;
}
