p {
  text-align: justify;
  hyphens: auto;
  margin: 0.5em 0;
  text-indent: 1.5em;
}

h1 {
  text-align: center;
  margin: 6em 0;
  page-break-after: always;
}

h2 {
  text-align: center;
}

.section {
  page-break-after: always;
}

hr {
  border: none;
  border-top: 1px solid;
}
