p {
  text-align: justify;
  hyphens: auto;
  margin: 0.5em 0;
}

h1 {
  text-align: center;
  margin: 6em 0;
  page-break-after: always;
}

h2 {
  text-align: center;
}

.section {
  page-break-after: always;
}
