@font-face {
  font-family: "Computer Modern Roman";
  src: url("../media/cmu serif roman.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Roman";
  src: url("../media/cmu serif italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern Roman";
  src: url("../media/cmu serif bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Roman";
  src: url("../media/cmu serif bold italic.ttf");
  font-weight: 700;
  font-style: italic;
}

// @import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: #333;
  background-image: url("../media/dust_scratches_black.png");
  color: #eee;
}

#App {
  max-width: 34em;
  padding: 0 1em;
  margin: 6em auto;
  font-family: "Computer Modern Roman", serif;
  // font-family: "Crimson Text", serif;
  // font-family: "Ibarra Real Nova", serif;
  font-size: 1.4em;

  .Prose {
    margin-top: 6em;
  }

  h2 {
    font-size: 1.62em;
  }
}

code {
  white-space: pre-wrap;
}
